.form-select{
    width: 300px !important;
    margin-right: 10px;
}
.row{
    margin-left: 2px;
}
.card-wid{
    width: 100%;
    height: 250px;
    object-fit: fill;
}
.navbar{
    width: 70%;
    margin: 0 auto;
}