/* The following line can be included in a src/App.scss */
$primaryColor :  #002f34;
*{
    margin: 0;
    padding: 0;
    font-family: Roboto,Helvetica,sans-serif;
}

.navbar-items{
    min-height: 20dvh;
    max-height: auto;
    background-color: #f7f8f8;
    padding-bottom: 1px;
    position: fixed;
    top: 0;
    width: 100%;
nav{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 25%;
        padding-top: 10px;
    }
    li{
        list-style: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 12px;
        &:hover{
            color: rgba(0, 0, 255, 0.747);
        }
        img{
            height: 20px;
        }
        span{
            border-radius: 15px;
            padding: 3px 7px;
            margin-right: 7px;
            font-size: 16px;
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        }
    }
    
    }
    .sec-div{
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            li{
                list-style: none;
                .largeLogo{
                    width: 60px;
                }
            }
            .iconBorder{
                position: relative;
                .plus-icon{
                    position: absolute;
                    left: 20px;
                    top: 15px;
                }
                span{
                        position: absolute;
                        left: 40px;
                        top: 13px;
                        font-size: 14px;
                        font-weight: bold;
                    
                }
            }
            .login-btn{
                color: $primaryColor;
                font-weight: bold;
                border-bottom: 2px solid $primaryColor;
                &:hover{
                    border-bottom: none;
                }
            }
        }
    }
}
