@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
    background-image: url(images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    height: 98dvh;
}
.weather-sec{
    height: 80dvh;
    margin: 40px auto;
}
.main{
    background-color: rgb(240, 237, 237);
    width: 80%;
    margin: 10px auto;
    border-radius: 5px;
}
.input-sec{
    width: 95%;
    margin: 0px auto !important;
    padding-top: 20px;
}
input{
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 10px;
}
#search> i{
    font-size: 28px;
    color: aqua;
    position: relative;
    top: 6px;
    /* border: 1px solid black; */
}
input{
    width: 90%;
}
.input-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
img{
    width: 50px;
    margin-right: 20px;
}
h1{
    font-weight: bold;
    color: black;
}
.img-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 20px 0px;
}
.fa-solid{
    margin-right: 5px;
}
.tem-deg{
    font-size: 1rem;
}
@media screen and (max-width: 580px) {
    .main{
        width: 98%;
    }
    .input-sec{
        width: 99%;
        margin-bottom: 20px !important;
    }
    .input-main{
        margin: 0px;
    }
    body{
        height: 93.5vh;
    }
}

