@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
.weather-sec{
    background-image: url(images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: rgb(240, 237, 237);
    width: 70%;
    margin: 0px auto;
    border-radius: 10px;
    opacity: 0.9;

}
.input-sec{
    width: 95%;
    margin: 0px auto !important;
    padding-top: 20px;
}
input{
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 10px;
}
#search> i{
    font-size: 28px;
    position: relative;
    top: 6px;
}
input{
    width: 90%;
}
.input-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    width: 70%;
    
}

.input-main >img{
    margin: 0;
}
img{
    width: 50px;
    margin-right: 20px;
}
h1{
    font-weight: bold;
    color: black;
}
.img-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
}
.input-main>p{
    margin-top: 15px;
}
.input-main >h1{
    margin-bottom: 0px;
}
.fa-solid{
    margin-right: 5px;
}
.tem-deg{
    font-size: 1rem;
}
p{
    color: black !important;
    font-weight: 500;
}
@media screen and (max-width: 580px) {
    .main{
        width: 98%;
    }
    .input-sec{
        width: 99%;
        margin-bottom: 20px !important;
    }
    .input-main{
        margin: 0px;
        width: 100%;
    }
    body{
        height: 93.5vh;
    }
    input{
        width: 80%;
    }
}

