body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* colgroup:#75BF7A; */
.nav-main{
    display: flex;
    justify-content: space-between !important;
    width: 90%;
    margin: 0 auto;
    margin: 30px 0px;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-item-main{
    display: flex;
    width: 60%;
}
.nav-item{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.nav-item>li,a{
    list-style: none;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
.help-btn{
    border-radius: 5px;
    background-color: #75BF7A;
    color: #fff;
    padding: 10px 20px;
}
/* NAVBAR CSS ENDS HERE */

/* HERO CSS STARTS HERE */
.hero{
    height: 60vh;
    width: 90%;
    margin: 0 auto;
}
.hero-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    border: 2px solid saddlebrown;
}
.hero-text{
    width: 40%;
    border: 2px solid black;
}
.hero-text > h1{
    font-size: 50px;
}
.store-icon{
    margin-top: 90px;
}
/* HERO CSS ENDS HERE */