@font-face {
    font-family: Helvetica Neue;
    src: url(Helvetica/Helvetica\ Neue\ LTW0697BlkCnObl.ttf);
}
body{
    background-color: #222222;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo{
    font-size: 28px;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    /* #545454 */

}
.nav-icon >a {
    text-decoration: none;
    color: #CCCCCC;
}
.nav-icon>a> i{
    margin-left: 30px;
}
.name-color{
    color: orange;
}
.hero-main{
    width: 98%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.hero-text{
    border: 1px solid blue;
}
.main-3{
    display: flex;
}
.main-3-exp{
    height: fit-content;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
}
.main-nav{
    margin-left: 50px;
}
.main-nav >ul{
    padding: 0px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #444444;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.main-nav >ul >li{
    border-bottom: 1px solid rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 17px 15px;
    letter-spacing: 1px;
}
.main-nav >ul >li>a:default{
    background-color: orangered;
}
.main-nav >ul >li:hover{
    background-color: orangered;
}