@font-face {
    font-family: fonts-new;
    src: url(fonts/PlayfairDisplay-Italic.ttf);
}
body{
    background-color: #0f1624;
    color: #fff;
    font-family: fonts-new;
}
.profile{
    border-radius: 30px;
}
.nav-list{
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.nav-list>li>a{
    color: #fff !important;
}
.navbar-toggler{
    background-color: #fff;
}
.links-list{
    width: 160px;
    justify-content: space-around;
}


/* Navbar Ends Here */

/* HERO SECTION STARTS HERE */
.hero{
    display: flex;
    width: 90%;
    margin: 10px auto;
    height: 85vh;
    align-items: center;
}
.hero-text{
    padding: 30px;
    width: 60%;
}
.hero-text >p{
    color: #e6e6e6;
    opacity: 85%;
}
.btn-contact{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right,#13ADC7,#6978D1,#945DD6);
    color: #fff;
}
/* About Section */
.about{
    height: 100dvh;
}
.about>h1{
    text-align: center;
    margin-bottom: 50px;
}
.about-main{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.profile-img{
    border-radius: 10px;
}
.about-text{
    width: 55%;
}
/* Skills Section Starts here */
#skills{
    height: 100dvh;
}

/* Project Section Starts here */
#project{
    margin-bottom: 20px;
}
#project >h1{
    text-align: center;
    margin: 20px 0px;
}
.project-main{
    width: 98%;
    margin: 0 auto;
}
.card-img-top{
    height: 200px;
}
.card{
    border: 1px solid silver;
    border-radius: 10px;
}
.card-body{
    background-color: #0f1624;
    color: #fff;
}

/* Contact Section Starts Here */
.contact-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    margin: 0 auto;
}

#contact >h1{
    text-align: center;
}
.form-control{
    color: white !important;
}
label{
    color: #fff !important;
}
/* Footer Sections Starts here */
footer{
    height: 35dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right,#13ADC7,#6978D1,#945DD6);
}
.links-block{
    display: flex;
    margin-top: 80px;
    padding: 0px;
}
.social-item{
    list-style: none;
}
.social-item >a{
    padding: 15px;
}
.social-item >a >img{
    width: 50px !important;
    height: 50px;
}

.twitter-icon{
    height: 30px !important;
    margin-top: 10px;
}
/* Media Query */
@media only screen and (max-width: 991px) {
    .nav-list{
        margin: 0;
        width: 100%;
    }
    .after-collapse{
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    .links-list{
        margin: 0 auto;
    }
    .hero{
        width: 95%;
    }
    .hero-text{
        padding: 0;
    }
    .bg{
        height: 320px;
    }
}
@media only screen and (max-width: 810px) {
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        height: auto;
    }
    .hero-text, .bg-pic{
        width: 90%;
        margin: 20px;
    }
    .bg{
        width: 90%;
    }
}
@media only screen and (max-width: 415px) {
    .links-block{
        flex-wrap: wrap;
        justify-content: center;
    }
}

[data-aos^=fade][data-aos^=fade] {
    opacity: 0.4;
    transition-property: opacity,transform;
}

