*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: popins;
    src: url(fonts/Poppins-Regular.ttf);
}
body{
    font-family: popins;
}
.main{
    background-image: url(images/bg-01.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    margin: 5px 15px 5px 15px;
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}
.input{
    width: 90%;
    border: none;
}
input:focus{
    outline: none;
}
.icons{
    margin-right: 10px;
}
h1{
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}
.login-button{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
    background-image: url(images/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.forgot{
    font-size: small;
    text-align: right;
    margin-top: 0px !important;
}
.forgot >a {
    text-decoration: none;
    color: #666666;
}
.hrNew{
    margin-bottom: 5px !important;
}
.links-div{
    margin: 0 auto;
    text-align: center;
}
.links-text{
    margin-bottom: 30px;
}
.icon-item >i{
    padding: 10px 15px;
    border-radius: 50px;
    font-size: larger;
    color: #fff; 
}

/* login page CSS Ends here */
.first-div{
    margin: 100px auto;
    padding: 30px;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    display: none;
    height: auto;
}
.first-div > button{
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-image: url(images/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

body{
    background-color: #f1eeee;
}

.div-main{
    background-color: #fff;
    margin: 30px;
    padding: 10px;
}
.navbar{
    display: flex;
    background-color: #fff !important;

}
.navbar > p{
    margin: 0;
}
.options{
    margin-left: 30px;    
}
.options >option{
    padding-top: 10px;
}
.next{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #666666;
    color: #666666;
}
.next-div{
    position: absolute;
    right: 60px;
    top: 400px;
    display: none;
}
.options >option:hover{
    background-color: #f8f8f8;
    font-size: large;
}
.input-radio{
    margin: 12px;
}
.input-rad{
    display: flex;
    align-items: center;
    align-content: center;
}