/* :root {
    --mdb-body-color: rgb(41, 41, 41);
    --white: #ffffff;
  }
body {

    color: var(--mdb-body-color);
    background-color: var(--mdb-body-bg);
}
a{
    --mdb-link-decoration: none;
    text-decoration: var(--mdb-link-decoration);
    color: var(--mdb-body-color);
}
.form-check-input[type=checkbox]:checked {
    background-image: none;
    background-color: black;
    border: 1px solid black;
} */
.login-sec{
    width: 35dvw;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.heading{
    text-align: center;
    margin: 20px;
}
/* .btn-primary{
    background-color: black;
    color: white;
}
.btn-primary:hover{
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
} */
.main{
    height: 100dvh;
    width: 100dvw;
    border: 1px solid black;
    display: flex;
    background-color:rgb(34, 34, 34)
}
aside{
    width: 40dvw;
}
.chat-sec{
    border: 1px solid green;
    width: 100%;
}
li{
    list-style: none;
}

a{
    color: white;
}
.user-icon{
    margin-left: 10px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 20px;
}
.form-control{
    border: 1px solid black !important;
}
.person{
    border: 1px solid black;
    height: 10vh;
}