*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: popins;
    src: url(fonts/Poppins-Regular.ttf);
}
body{
    font-family: popins;
}
.main{
    background-image: url(images/bg-01.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    margin: 5px 15px 5px 15px;
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}
.input{
    width: 90%;
    border: none;
}
input:focus{
    outline: none;
}
.icons{
    margin-right: 10px;
}
h1{
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}
.login-button{
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
    background-image: url(images/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.forgot{
    font-size: small;
    text-align: right;
    margin-top: 0px !important;
}
.forgot >a {
    text-decoration: none;
    color: #666666;
}
.links-div{
    text-align: center;
}

/* login page CSS Ends here */
.navbar{
    display: flex !important;
    justify-content: space-around;
}
#show{
    /* height: 90vh; */
    margin-top: 70px;
}
.card{
    margin: 0px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 80vh;
    padding: 0 !important;
}
.card >img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 20px auto;
}
#input-img{
    display: none;
}
.choose{
    border: 1px solid crimson;
    width: 200px;
    padding: 10px 20px;
    background-color: crimson;
    color: #fff;
}
#logOut{
    padding: 10px 20px;
    background-color: #fff;
    color: crimson;
    border-radius: 10px;
    border: 1px solid crimson;
}
#logOut:hover{
    background-color: crimson;
    color: #fff;
}

/* Post Sec */
.ql-toolbar{
    width: 50%;
    height: auto;
    margin: 0px auto;
    margin-top: 70px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#editor{
    width: 50%;
    margin:  auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ql-editor{
    height: 400px;

}