body{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("images/bg-pic.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 99.8vh;
    position: relative;
}
#character1{
    position: absolute;
    bottom: 10px;
    height: 280px;
}
#character2{
    position: absolute;
    bottom: 5px;
    right: 10px;
    height: 320px;
}